{
  "server": "0.0.0.0",
  "server_ipv6": "::",
  "server_port": 80,
  "method": "none",
  "password": "{PASSWORD}",
  "protocol": "auth_chain_a",
  "protocol_param": "{PROTOCOL_PARAM}",
  "obfs": "tls1.2_ticket_auth",
  "obfs_param": "",
  "redirect": "{REDIRECT}",
  "fast_open": true,
  "workers": 1
}